.input-container {
  margin-bottom: 20px;
}

.input-label {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    top: 5px;
    left: -26px;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    border: 20px solid rgba(0, 0, 0, 0.35);
    border-right-color: rgba(0, 0, 0, 0.25);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.05);

    transform-origin: 50% 50%;
    animation-name: preloader-animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  &.preloader-hidden::after {
    display: none;
  }
}

.input-field {
  padding: 10px 20px 10px 40px;

  border-radius: 30px;
  outline: none;
  border: 2px solid #eee;

  font-size: 1.2rem;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 12px;

  &:focus {
    border: 2px solid blue;
    box-shadow: 0 0 12px 0 #2e5ddb;
  }

  &::placeholder {
    clear: rgb(187, 185, 185);
  }
}
