 <section class="section">
      <div class="container">
        <h1 >Country information</h1>
        <div class="input-container">
          <label class="input-label preloader-hidden" data-value="output-label">
            <input 
            type="text" 
            name="countrySearch" 
            data-value="input" 
            id="countryInput" 
            class="input-field"
            autocomplete="off"
            placeholder="Type the country here..." />
            <button type="button" id="reset-button" class="reset-btn">Reset</button>
          </label>
        </div>
        <div class="output-container empty" data-value="output"></div>
      </div>
    </section>